In [3]:
import pandas as pd 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures

In [4]:
import pandas as pd
# Load the dataset to examine structure and check columns
file_path = 'arrest.csv'
df = pd.read_csv(file_path)
# Display the first few rows and column names 
df.head(), df.columns

(   _id       PK       CCR   AGE GENDER RACE           ARRESTTIME  \
 0    1  1975272  16158872  42.0      F    B  2016-08-24T12:20:00
 1    2  1974456  16144120  31.0      M    W  2016-08-03T14:55:00
 2    3  1974466  16144165  63.0      F    B  2016-08-03T16:45:00
 3    4  1974550  16145257  25.0      F    W  2016-08-05T02:36:00
 4    5  1974596  16145962  25.0      M    B  2016-08-06T02:00:00

                                      ARRESTLOCATION  \
 0         4700 Block Centre AV Pittsburgh, PA 15213
 1  4200 Block Steubenville PKE Pittsburgh, PA 15205
 2        900 Block Freeport RD Fox Chapel, PA 15238
 3       Foreland ST & Cedar AV Pittsburgh, PA 15212
 4         900 Block Woodlow ST Pittsburgh, PA 15205

                                             OFFENSES  \
 0                                 3929 Retail Theft.
 1       13(a)(16) Possession of Controlled Substance
 2                                 3929 Retail Theft.
 3  5503 Disorderly Conduct. / 5505 Public Drunken...
 4  2702 Aggravated Assault. / 2705 Recklessy Enda...

                                    INCIDENTLOCATION INCIDENTNEIGHBORHOOD  \
 0         4700 Block Centre AV Pittsburgh, PA 15213           Bloomfield
 1  4200 Block Steubenville PKE Pittsburgh, PA 15205         Outside City
 2        900 Block Freeport RD Fox Chapel, PA 15238             Westwood
 3       Foreland ST & Cedar AV Pittsburgh, PA 15212       East Allegheny
 4         900 Block Woodlow ST Pittsburgh, PA 15205      Crafton Heights

   INCIDENTZONE  INCIDENTTRACT  COUNCIL_DISTRICT  PUBLIC_WORKS_DIVISION  \
 0            5          804.0               8.0                    2.0
 1          OSC         5599.0               NaN                    NaN
 2            5         2811.0               9.0                    2.0
 3            1         2304.0               1.0                    1.0
 4            5         2814.0               2.0                    5.0

            X          Y
 0 -79.949277  40.452551
 1 -80.088018  40.440136
 2 -79.891803  40.486625
 3 -80.001939  40.454080
 4 -80.052204  40.445900  ,
 Index(['_id', 'PK', 'CCR', 'AGE', 'GENDER', 'RACE', 'ARRESTTIME',
        'ARRESTLOCATION', 'OFFENSES', 'INCIDENTLOCATION',
        'INCIDENTNEIGHBORHOOD', 'INCIDENTZONE', 'INCIDENTTRACT',
        'COUNCIL_DISTRICT', 'PUBLIC_WORKS_DIVISION', 'X', 'Y'],
       dtype='object'))

In [11]:
# Calculate the average number of arrests per neighborhood
neighborhood_arrest_counts = df.groupby('INCIDENTNEIGHBORHOOD').size().reset_index(name='arrest_count')

# Find the neighborhood with the least average arrest count
least_arrests_neighborhood = neighborhood_arrest_counts.loc[neighborhood_arrest_counts['arrest_count'].idxmin()]

least_arrests_neighborhood

INCIDENTNEIGHBORHOOD    Mt. Oliver Neighborhood
arrest_count                                  2
Name: 57, dtype: object

In [18]:
# Sort neighborhoods by arrest count and select the 10 with the lowest average arrests
lowest_10 = neighborhood_arrest_counts.nsmallest(10, 'arrest_count')
lowest_10

       INCIDENTNEIGHBORHOOD  arrest_count
57  Mt. Oliver Neighborhood             2
91   Troy Hill-Herrs Island             6
56          Mt. Oliver Boro            18
19        Central Northside            23
72            Regent Square            37
73                Ridgemont            37
58            New Homestead            39
88           Swisshelm Park            43
21           Chartiers City            46
27            East Carnegie            48

In [25]:
# Count incidents per neighborhood
neighborhood_incident_counts = df['INCIDENTNEIGHBORHOOD'].value_counts().reset_index()
neighborhood_incident_counts.columns = ['INCIDENTNEIGHBORHOOD', 'incident_count']

# Find the neighborhoods with the lowest incident counts
lowest_incident_neighborhoods = neighborhood_incident_counts.nsmallest(10, 'incident_count')

lowest_incident_neighborhoods

       INCIDENTNEIGHBORHOOD  incident_count
97  Mt. Oliver Neighborhood               2
96   Troy Hill-Herrs Island               6
95          Mt. Oliver Boro              18
94        Central Northside              23
92                Ridgemont              37
93            Regent Square              37
91            New Homestead              39
90           Swisshelm Park              43
89           Chartiers City              46
88            East Carnegie              48

In [29]:
neighborhood_incident_counts = df['INCIDENTNEIGHBORHOOD'].value_counts().reset_index()
neighborhood_incident_counts.columns = ['INCIDENTNEIGHBORHOOD', 'incident_count']

# Find the neighborhoods with the lowest incident counts
lowest_incident_neighborhoods = neighborhood_incident_counts.nsmallest(25, 'incident_count')

lowest_incident_neighborhoods

           INCIDENTNEIGHBORHOOD  incident_count
97      Mt. Oliver Neighborhood               2
96       Troy Hill-Herrs Island               6
95              Mt. Oliver Boro              18
94            Central Northside              23
92                    Ridgemont              37
93                Regent Square              37
91                New Homestead              39
90               Swisshelm Park              43
89               Chartiers City              46
88                East Carnegie              48
87                    St. Clair              55
86               Outside County              57
85                Outside State              67
84                  Summer Hill              76
83                      Oakwood              82
82  Golden Triangle/Civic Arena              83
81                         Hays             120
79                 Mount Oliver             124
80                      Windgap             124
78                    Fairywood             127
77               Allegheny West             130
76            Arlington Heights             155
75                  Polish Hill             166
74                   Glen Hazel             169
73                   Friendship             174

In [18]:
#Create a Data Frame
df= pd.read_csv('Neighborhoods_with_SNAP_Data.csv')

#Remove the percent sign and convert type to float
df['Edu__Attainment__Bachelor_s_Deg'] = df['Edu__Attainment__Bachelor_s_Deg'].replace(r'[\%,]', '', regex=True).astype(float)

#Sort education decending from greatest to least
sortedIncome = df.sort_values(by='Edu__Attainment__Bachelor_s_Deg', ascending=False)

# Display the top 10 neighborhoods in terms of education(bachelor's degree)
print(sortedIncome[['Edu__Attainment__Bachelor_s_Deg','Neighborhood_2010_HOOD']].head(10))

    Edu__Attainment__Bachelor_s_Deg Neighborhood_2010_HOOD
55                             44.8         Allegheny West
4                              33.4         Strip District
57                             32.3              Shadyside
49                             30.5             Friendship
70                             28.3     Point Breeze North
14                             27.6       South Side Flats
1                              27.4          North Oakland
25                             27.4    Squirrel Hill South
87                             26.7               West End
65                             26.7    Squirrel Hill North

## Top 10 neighborhoods by education (Percent with at least a bachelors degree) 
1. Allegheny west
2. Strip Disctrict
3. Shadyside
4. Friendship
5. Point Breeze North
6. Southside Flats
7. North Oakland
8. Squirrel Hill South
9. West end
10. Squirell Hill North

## Conclusion
After looking through the columns of the data and finding averages for the number of arrest counts and number of incident counts in each neighborhorod the results are fairly consistent with the arrest usually occuring the same neighborhod as the incident, this is nice becasue it scan let us infer police response times as well as their success rate. However, Fater looking at all of the data we had chosen the safety of the neighborhoods doesnt really correlate that much with the other metrics we dicided on. This is why i transitioned into looking at level of education. With my partners chosen data we were able to correlate much better with Level of education to come up with out chosen best Neighborhood. Shadyside.